biopython==1.78
certifi==2020.6.20
future==0.18.3
joblib
more-itertools==8.5.0
numpy==1.19.2
pandas==1.1.2
python-dateutil==2.8.1
pytorch-tabnet==1.2.0
pytz==2020.1
scikit-learn==1.0.1
scipy
six==1.15.0
threadpoolctl==2.1.0
torch==1.13.1
tqdm==4.49.0
